@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

body {
  background: #d3d3d3;
  width: 100%;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0.5em;
}

ul {
  list-style-type: circle;
  margin: 0 0 0 1em;
  padding: 0;
}

ol {
  list-style-type: decimal;
  margin: 0 0 0 1.3em;
  padding: 0;
}

li {
  margin-top: 0.5em;
}

header {
  background-image: url("../img/pancakes.jpg"); /* The image used is free to use under the Unsplash License https://unsplash.com/photos/xrx6_WKJyfA */
  background-size: cover;
  background-position-x: center;
  background-position-y: 62%;
  height: 12em;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
}
header h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 200;
  line-height: 1.2;
  margin: 0.35em;
  text-shadow: 2px 2px 2px #000;
}

header h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.2;
  margin: 0em;
  text-shadow: 2px 2px 2px #000;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
}

section {
  padding: 3em;
}

table {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  border: #d3d3d3 1px solid;
}

caption {
  text-align: left;
  margin-bottom: 0.3em;
}

th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

th {
  font-size: inherit;
  font-weight: inherit;
  text-align: left;
}

td {
  text-align: right;
}

tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

a {
  color: #666;
  text-decoration: underline;
}
/* unvisited link */
a:link {
  color: #666;
}

/* visited link */
a:visited {
  color: #666;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #d3d3d3;
  color: #333;
  height: 3em;
  width: 100%;
}

footer section .Some {
  padding: 0.5em 0em 1em 3em;
}

footer section .newsletter {
  padding: 0.5em 3em 1em 0em;
}

form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 0.2em;
}

input {
  font-family: inherit;
  font-size: 11px;
  padding: 0.5em;
  border: #666 1px solid;
  border-radius: 0.3em;
  margin: 0.2em;
}

#ingredients, #nutrition, #toppings {
  background: #ffffff;
}

#instructions, #description, #tips {
  background: #faf9f6;
}


.alt-ul {
  list-style-type: none;
  margin: 0;
}

.SoMe-list {
  display: grid;
  grid-template-columns: 2.5em 2.5em 2.5em 2.5em 2.5em;
  grid-gap: 0.1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
